docs/
bin/
obj/
**/bin/
**/obj/
*.user
*.swp
.vscode/
.env
GpsOutlierModel.zip
node_modules/
.vs

# .NET build artifacts
*.dll
*.exe
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
*.suo
*.sdf
*.dbmdl
*.dbproj.schemaview
*.pidb
*.psess
*.vsp
*.vsix
*.docstates
TestResult.xml
TestResults/
*.nupkg
*.snk
*.psess
*.vsp
*.coverage
*.coveragexml
_ReSharper*/
*.resharper
*.DotSettings.user

# Visual Studio
.vs/
*.sln.docstates
*.sln.ide
*.sln.iml
*.sln.cache
*.sln.bin
*.sln.vspscc
*.sln.vssscc
*.sln.suo
*.sln.sdf
*.sln.dbmdl
*.sln.dbproj.schemaview
*.sln.pidb
*.sln.psess
*.sln.vsp
*.sln.vsix
*.sln.docstates

# VS Code
.vscode/
history/
.history/

# React/Node
node_modules/
build/
dist/
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local
yarn-error.log
npm-debug.log*
package-lock.json
yarn.lock
.parcel-cache/
.eslintcache
.next/
.turbo/
.cache/
.DS_Store
*.tgz
